/**/

body{
  background-color: gray;
}
#somar{
  background-color: black;
}
#subtracao{
  background-color: black;
}
#divisao{
  background-color: black;
}
#multiplicacao{
  background-color: black;
}
#exponenciacao{
  background-color: black;
}